<h1>Admin Dashboard</h1>

<div class="card">
  <div class="card-header">Store Statistics</div>
  <div class="card-body">
    <p>Number of Products: <%= @product_count %></p>
    <p>Number of Categories: <%= @category_count %></p>
  </div>
</div>
